@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: dark; }

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

a { @apply text-brand-300 hover:text-brand-200; }
